<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyongming.ntwd.dao.PhraseDao"><!--注意：此处的命名空间是UserMapper的全限定类名-->
    <select id="getPhraseEntities" resultType="phraseEntity">
        SELECT * FROM t_phrase ORDER BY id limit #{page},#{rows};
    </select>

    <select id="getPhraseEntityById" resultType="phraseEntity">
        SELECT * FROM t_phrase WHERE id = #{id};
    </select>

    <insert id="insertPhraseEntity" parameterType="phraseEntity">
      INSERT INTO t_phrase (phrase,phrase_spell,phrase_paraphrase,phrase_provenance,phrase_demo)
      VALUES (#{phrase},#{phraseSpell},#{phraseParaphrase},#{phraseProvenance},#{phraseDemo})
    </insert>

    <select id="getPhraseEntityByPhrase" resultType="phraseEntity">
        SELECT * FROM t_phrase WHERE phrase = #{phrase}
    </select>

    <select id="getPhraseTotal" resultType="int">
        SELECT count(1) total FROM t_phrase;
    </select>

</mapper>