<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyongming.ntwd.dao.TestDao"><!--注意：此处的命名空间是UserMapper的全限定类名-->
    <select id="getTestEntities" resultType="testEntity">
        SELECT id,name FROM test WHERE id BETWEEN 1 AND 10;
    </select>

</mapper>